.navigation{
  background-color: rgba(0, 0, 0, 0.95);
}
.navbar{
  margin:0;
  padding: 0;
}
#navbarNav{
  margin-left: 2%;
}

.logoImg{
  width: 80px;
  margin-left: 10%;
  margin-right: 4%;
}

.sign-in{
  right: 0 !important;
}
