<div class="container">
  <div class="row">
    <h2 class = "heading">Create content</h2>
  </div>
  <div class="row">
    <div class="col-5 m-auto form">
      <h3>Your content matters!</h3>
      <p class = "input-description">Your first 30 letters are the most important because only those will be displayed on the main page. So, make them count!.</p>
      <form [formGroup]="formValue" (submit)= "FormSubmit(formDirective)" #formDirective="ngForm">

        <mat-form-field>
          <input matInput placeholder="Enter Heading" formControlName="heading">
          <mat-error *ngIf="formValue.get('heading').invalid">Heading is too short</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select me" formControlName="category">
            <mat-option value="breakfast">Breakfast</mat-option>
            <mat-option value="lunch">Lunch</mat-option>
            <mat-option value="dinner">Dinner</mat-option>
            <mat-option value="deserts">Deserts</mat-option>
            <mat-option value="coffee">Coffee</mat-option>
          </mat-select>
          <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="price" matInput placeholder="Amount" type="number" class="example-right-align">
          <span matPrefix>Rs.&nbsp;</span>
          <span matSuffix>.00</span>
          <mat-error *ngIf="formValue.get('price').invalid">
            You must enter a value
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea  matInput placeholder="Description" rows = "5" formControlName="description"></textarea>
          <mat-error *ngIf="formValue.get('description').invalid">
            Description must be at least 10 characters
          </mat-error>
        </mat-form-field>

        <div class = "file-picker-div">
          <div class="row">
            <div class="col-6">
              <button type = "button" mat-stroked-button color="primary" (click)="filePicker.click()">Select image</button>
              <input type="file" class = "file-picker" #filePicker (change)="onImagePick($event)">
              <p class = "form-error" *ngIf="formValue.get('image').invalid">
            </div>
            <div class = "col-6" *ngIf="imagePreview">
              <img class = "preview" [src]="imagePreview" [alt]="formValue.get('heading')">
            </div>
          </div>
        </div>
        <p class = "success" *ngIf="message === 'created'">Content Added</p>
        <p class = "success" *ngIf="message === 'updated'">Content Updated</p>
        <button *ngIf="!isLoding" type="submit" mat-raised-button color="primary">Submit</button>
        <div class = "spinner" *ngIf="isLoding">
          <mat-spinner [diameter]="40"></mat-spinner>
        </div>
      </form>
    </div>
  </div>
</div>
