.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("src/assets/img/food.jpg");
  height: 50vh;
  background-size: cover;
  color: white;
}

.content{
  padding: 10% 5%;
}

h1{
  font-size: 500%;
}
p{
  font-size: 150%;
}

#categories{
  margin-top: 1%;
  padding-left: 4%;
}
