<div class="container">
  <div class="row contact-heading">
    <h2>Contact Us</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- Contact details -->
      <div class="row">
        <div class="col-4">
          <p>contact 1 : </p>
        </div>
        <div class="col-8">
          011 22 55234
        </div>
        <div class="col-4">
          <p>contact 2 : </p>
        </div>
        <div class="col-8">
          011 22 55234
        </div>
      </div>
      <!-- The left side     -->
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-4">
          <p>Email : </p>
        </div>
        <div class="col-8">
          Qitchen@gmail.com
        </div>
        <div class="col-4">
          <p>fax :  </p>
        </div>
        <div class="col-8">
          Who uses fax?
        </div>
      </div>
    </div>
  </div>

<!--  The contact form section -->
  <div class="row">
    <div class="col-md-6 contact-form">
      <h3>Or gust email us here!</h3>
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Heading">
        </div>
        <div class="form-group">
          <textarea class = "text-area" placeholder="Description" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 m-auto">
      social media icons
    </div>
  </div>
</div>
