.contact-heading{
  margin-top: 5%;
}

/*  border-bottom: 1px solid rgba(141, 141, 141, 0.51);
*/
.contact-form{
  margin: 5% auto;
  text-align: center;
}

form{
  margin-top: 6%
}

.media-links{
  text-align: center;
}

.media-icon{
  fill: #828282;
  width: 20%
}

.media-icon:hover{
  fill: #851de0;
}

mat-form-field{
  width: 100%;
}

.error{
  color: red;
}
