  <h2>All items</h2>
  <div class="row">
    <div class="wrapper" *ngFor="let content of contents">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;"  >
          <a [routerLink]="['/content', content.id]"><img [src]="content.imagePath" class="card-img" alt="food-images">
            <div class="card-body">
              <h5 class="card-title">{{content.heading}}</h5>
              <h5 class="card-text">Rs. {{content.price}}.00</h5>
            </div></a>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-10 m-auto">
      <mat-paginator [length]="total"
                     [pageSize]="pageSize"
                     (page)="onPageChange($event)" *ngIf="contents.length > 0" ></mat-paginator>
    </div>

  </div>
