 <div class="container">
   <div class="row">
     <h2 class = "heading">All Contents</h2>
   </div>
   <div class="content" *ngFor="let content of allContents">
     <mat-accordion>
       <mat-expansion-panel>
         <mat-expansion-panel-header>
           <mat-panel-title>
             <h5>{{content.heading}}</h5>
           </mat-panel-title>
           <mat-panel-description>
             {{content.description}}
           </mat-panel-description>
         </mat-expansion-panel-header>
         <button mat-raised-button [routerLink]="['/content', content.id]">View</button>
         <button mat-raised-button [routerLink]="['/dashboard', 'edit', content.id]">Edit</button>
         <button mat-raised-button (click)="onDelete(content.id)" color = "warn">Delete</button>
       </mat-expansion-panel>
     </mat-accordion>
   </div>
   <mat-paginator [length]="10"
                  [pageSize]="pageSize"
                  (page)="onPageChange($event)"  *ngIf="allContents.length > 0"></mat-paginator>
 </div>

<!-- <div class="col-12">-->
<!--   <div class="card">-->
<!--     <div class="card-body">-->


<!--       <div class="right-side">-->
<!--       </div>-->
<!--     </div>-->
<!--   </div>-->
<!-- </div>-->
