.heading{
  margin-top: 3%;
}

.content{
  width: 100%;
}

img{
  width: 10%;
  border-radius: 6px;
}

.card{
  margin-top: 5%;

}

.card-body{
  padding:1% 5%;
}

.content-heading{
  display:inline;
  margin-left: 10%;
  font-weight: 100;
  color: #828282;
}

.right-side{
  display: inline;
  margin-left: 60%;
}

.right-side a{
  display: inline;
  margin-left: 1%;
}

.icons{
  width: 3%;
  fill: #828282;
}

.icons:hover{
  fill: black;
}
