<h2>Categories</h2>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/', 'breakfast']">Breakfast</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/', 'lunch']">Lunch</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/', 'dinner']">Dinner</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/', 'breakfast']">Deserts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/', 'coffee']">Coffee</a>
  </li>
</ul>
