<div class="container">
  <h2>Deserts</h2>
  <div class="row">
    <div class="wrapper" *ngFor="let content of contents">
      <div class="col-md-4" *ngIf="content.category === 'Deserts'" >
        <div class="card" style="width: 18rem;"  >
          <a [routerLink]="['/content', content.id]"><img [src]="content.imagePath" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{content.heading}}</h5>
              <p class="card-text">{{content.description}}</p>
            </div></a>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="10"
                 [pageSize]="pageSize"
                 (page)="onPageChange($event)" *ngIf="contents.length > 0" ></mat-paginator>
</div>
