<div class="container messages-container">
  <div class="all-messages" *ngFor="let message of messages">
    <div class="row">
      <div class="col-12">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{message.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{message.email}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <div class="row">
                <div class="col-11">
                  <p>{{message.message}}</p>
                </div>
                <div class="col-1">
                  <button mat-icon-button (click)="onDelete(message.id)">
                    <svg class = "delete-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path d="M128 405.429C128 428.846 147.198 448 170.667 448h170.667C364.802 448 384 428.846 384 405.429V160H128v245.429zM416 96h-80l-26.785-32H202.786L176 96H96v32h320V96z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>

