.dashboard-content{
  height: 100%;
}

.navigation{
   background-color: rgba(255, 227, 237, 0.54);
 }

.details{
  margin: 8% 8%;
}

.name{
  font-size: 160%;
  color: #851de0;
}

li{
  margin-top: 5%;
}

.date{
  color: #828282;
}


.nav-link{
  color: #828282;
  font-size: 110%;
}

.nav-link:hover{
  color: black;
}

.dashboard-icons{
  width: 10%;
  fill: #828282;
}

span{
  margin-left: 5%;
}

.active{
  background-color: white;
  border-radius: 5px;
}
