<div class="row">
  <div class="col-3 navigation">
    <div class="details">
      <p class="name">Your name</p>
      <p class="date">Current Date</p>
    </div>

    <ul class="nav flex-column dashboard-navigation">
      <li class="nav-item">
        <a class="nav-link active" href="#">All Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Create a post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Update about us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">update Contact</a>
      </li>
    </ul>
  </div>
  <div class="col-9 content">
    working
  </div>
</div>
